.Rproj.user/
.Rhistory
.RData
.Ruserdata
.quarto/
*_files/

# Corrections (not pushed)
project/projet-correction.qmd
project/projet-correction.html
project/projet-correction.rmarkdown
project/projet-correction_files/
